<section class="hero">
    <div class="header-above-wrapper">
        <header class="container header">
            <div class="logo">
                <p class="company-logo">Cracker</p>
                <p class="txt-logo">logo</p>
            </div>
            <nav class="nav">
                <ul class="list-nav">
                    <li class="nav-item seed-wrapper"><a href="#" class="details-link">
                            <img class="seed" src={{seed}} width="25" height="26"></img>
                            <p class="seed-count">3</p>
                        </a></li>
                    <li class="nav-item"><a href="#" class="details-link">
                            <p class="info">total:</p>
                            <p class="total-price">143€</p>
                        </a></li>
                    <li class="nav-item"><a href="#" class="details-link">
                            <p class="info">details</p>
                            <div class="arrow"></div>
                        </a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="header-below-wrapper header">
        <div class="container header">
            <nav class="nav">
                <ul class="list-nav">
                    <li class="nav-list-item active"><a href="#">home</a> </li>
                    <li class="nav-list-item"><a href="#">about us</a> </li>
                    <li class="nav-list-item"><a href="#">contacts</a> </li>
                    <li class="nav-list-item"><a href="#">checkout</a> </li>
                    <li class="nav-list-item"><a href="#">account</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="hero-desc-wrapper">
        <p class="hero-desc-txt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident magnam odit
            repudiandae accusamus quos soluta omnis. Illum nisi ut, iste accusamus sed illo in</p>
    </div>
    <h1>mostly tastes with freshes</h1>
    <a href="#" class="button-taste-it">taste it</a>
    
</section>