@font-face {
  font-family: "Kristi";
  src: url("../../assets/fonts/Kristi-Regular.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "FredokaOne";
  src: url("../../assets/fonts/Fredoka_One/FredokaOne-Regular.ttf");
}
