/* colors */

$headerColor: #333333;
$headerColorOpacity: hsl(0, 0%, 20%, 56%);

$dividerColor: #ff4200;
$buttonBackColor: #ff4200;

$heroDescBackColor: hsl(103, 21%, 56%, 87%);

$avoutBackColor: hsl(0, 0%, 98%, 80%);
$aboutDescTxtColor: black;
$aboutDescBackColor: hsl(0, 22%, 84%, 87%);

$textPrimaryColor: white;
$textSecondaryColor: #666666;
$textCrackerSelectTtitle: black;

/* sizes */

$containerWidth: 960px;
