.logo {
  position: absolute;
  top: 25%;
}

.company-logo {
  font-family: "Kristi";
  font-size: 60px;
}

.txt-logo {
  position: absolute;
  right: -10px;
  bottom: -5px;

  font-family: "Lato";
}
